#Title
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.InputBox
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
    text-align: center;
    width: 50%;
}